*{
    font-family: 'Quicksand', sans-serif;
}
.navbar{
    background-color: rgb(190, 220, 116);
    font-size: 20px;
}
.bi-person-fill{
    background-color:rgb(162, 202, 113);
    padding: 5px;
    border-radius: 100%;
}

main{
    background-color: rgb(246, 233, 107, 0.5);
    padding-bottom: 100px;
}
  
.texto-yungas{
    padding: 40px;
}
.intro{
    padding-top: 100px;
    padding-bottom: 100px;
    width: 70%;
    margin: 0 auto;
}
.into-config{
    padding: 20px;
    background-color: rgb(246, 233, 107, 0.5);
    border-radius: 20px;
}
.resenas{
    padding: 40px;
}
.img-config{
    padding: 20px;
}
.btn-color{
    background-color:rgb(190, 220, 116) ;
}
.contacto{
    width: 90%;
    margin: 0 auto;
}
.contacto h4{
    padding-bottom: 20px;
}
.border-custom{
    background-color: rgb(162, 202, 113);
    border-radius: 20px;
    padding: 30px;
}
.contacto p{
    margin: 0px;
}
footer{
    padding: 20px;
    background-color: rgb(190, 220, 116);
}
a{
    color: black;
    text-decoration: none;
}